* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospace;
    text-decoration: none;
}
header {
    background: url("img/image1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 5rem;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo, .fa-bars, .fa-close {
    color: #2F5D00;
    padding: 1.5rem;
    cursor: none;
}
.logo {
    text-shadow: 0px 3px 6px #C89A00;
}
.fa-bars {
    font-size: 1.5rem;
}
nav {
    position: absolute;
    width: 100%;
    background-color: #C89A00;
    text-align: center;
    display: none;
}
ul li {
    padding: 1.3rem;
    color: #2F5D00;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(0,0,0,10%);
}
ul li:hover {
    color: green;
    background-color: rgb(0,0,0,50%);
}
.intro {
    display: flex;
    text-align: center;
    color: #C89A00;
    background-color: rgb(0,0,0,50%);
    padding: 4rem 2rem;
    line-height: 2rem;
}
section h2 {
    text-align: center;
    padding: 2rem;
}
.content {
    padding: 0 2rem 2rem 2rem;
    color: rgb(6, 68, 6);
    line-height: 1.5rem;
}
.about {
    background-color: #FFEDB3;
}
.about p {
    color: rgb(6, 68, 6);
}
#about {
    color: rgb(6, 68, 6);
}
.projects {
    background-color: rgb(6, 68, 6);
}
.projects p {
    color: #C89A00;
}
#projects {
    color: #C89A00;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4rem;
}
.gallery div {
    position: relative;
    margin: 2rem;
}
.gallery p {
    padding: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    background-color: rgb(0,0,0,50%);
    width: 100%;
    display: none;
}
.gallery i {
    margin: 0 0.5rem;
    font-size: 2rem;
    color: white;
    cursor: none;
    transition: .5s ease-in-out;
}
.gallery i:hover {
    transform: scale(1.5);
}
.gallery img {
    width: 250px;
    height: 200px;
    border: 4px solid #C89A00;
}
.contact {
    background-color: #C89A00;
}
.contact p {
    color: #322300;
}
#contact {
    color: #322300;
}